body {
    color: white;
    background-color: black;
    
}

h2 {
    color: gold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: goldenrod;
    margin-bottom: 1%;
}

#vol-up {
    background-color: green;
    border-color: lightgreen;
}

#vol-down {
    background-color: red;
    border-color: darkred;
}

#bright-up {
    background-color: gold;
    border-color: gold;
}

#bright-down {
    background-color: goldenrod;
    border-color: goldenrod;
}

.outline {
    padding-top: 10px;
    padding-bottom: 10px;
    
    text-align: center;
    border: solid goldenrod;
    border-width: 6px;
    border-radius: 15px;
}

.btn {
    color: black;
    background-color: gray;
    border: solid darkgray;

    border-radius: 15px;
    border-width: 5px;

}

.btn-time {
    background-color: dodgerblue;
    border-color: deepskyblue;
}